@model BudgetTracker.Models.TestTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div ng-controller="testController as $ctrl" ng-init="$ctrl.get(@Model.ID)">
    {{$ctrl.data}}
</div>
<div>
    <h4>TestTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
